BasedOnStyle: LLVM
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
IndentCaseLabels: true
NamespaceIndentation: All
UseTab: ForContinuationAndIndentation
UseCRLF: false
Language: Cpp
BreakBeforeBraces: Allman
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
FixNamespaceComments: false
ColumnLimit: 120
