[submodule "external/NFD"]
	path = external/NFD
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "external/CURL"]
	path = external/CURL
	url = https://github.com/curl/curl.git
[submodule "external/SFML"]
	path = external/SFML
	url = https://github.com/SFML/SFML
[submodule "external/BOXER"]
	path = external/BOXER
	url = https://github.com/aaronmjacobs/Boxer
